:root {
    --lime-color: #57EEAB;
    --yellow-color: #FFFD8C;
    --orange-color: #FF8480;
    --white-color: #F7F7FF;
    --black-color: #333131;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--white-color);
}

header {
    width: 80%;
    margin: 0 auto;
}
main {
    width: 80%;
    margin: 0 auto;
}

.main-header h1 {
    font-size: 60px;
    margin-top: 20px;
}
.main-header p {
    font-size: 18px;
    margin-top: -35px;
}

#header-logo img {
    height: 80px;
    width: auto;
}
.main-section {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 80px;
    
    display: flex;
    justify-content: space-between;

    background-image: url(images/bg-image/scooter.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.apply-now-form {
    height: 370px;
    max-width: 340px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

    padding: 30px;
}
.apply-now-form > h1 {
    margin-top: 0px;
}
.apply-now-form > p {
    margin-top: -12px;
}
.apply-now-form > form {
    margin-top: -10px;
}
.apply-now-form > form > p {
    font-size: 13px;
    text-align: center;
}
.apply-now-form > form > p > a {
    text-decoration: none;
    color: var(--orange-color);
}

.form-input {
    height: 35px;
    width: 97%;
    font-size: 15px;
    background-color: #f4f4f5;
    margin: 5px 5px 5px 0px;
    padding-left: 10px;

    border: 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
            border-radius: 5px;
}
#check-box {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
}
#terms {
    width: 20px;
    height: 20px;

    border-radius: 5px;
}
#terms-text {
    font-size: 14px; 
    padding-top: 3px;
    padding-left: 10px;
}
#drive-with-us {
    width: 100%;
    height: 40px;
    margin-top: 20px;

    background-color: var(--lime-color);
    color: var(--black-color);
    font-weight: 600;
    font-size: 26px;

    border: 0px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
            border-radius: 10px;
}

/* Footer */
footer {
    background-color: var(--yellow-color);
    padding-bottom: 25px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
}
.footer-frame {
    width: 80%;
    display: flex;
}
@media screen and (max-width: 1025px) {
    .footer-frame {
        width: 60%;
    }
}
@media screen and (max-width: 768px) {
    .footer-frame {
        width: 80%;
    }
}

.footer-head > h4 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: -5px;
}
.footer-head > p {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px;
}
@media screen and (max-width: 1025px) {
    .footer-head > h4 {
        font-size: 14px;
    }
    .footer-head > p {
        font-size: 12px;
    }
}
.footer-left-frame {
    width: 60%;
}

.footer-form {
    display: flex;
}
.input-hours-div, .input-city-div {
    flex: 0 0 auto;
    margin-right: 20px;
}
.input-hours-div {
    width: 15%;
}
.input-city-div {
    width: 30%;
}

#input-hours, #input-city {
    height: 30px;
    width: 100%;
    padding-left: 5px;
    font-size: 14px;
    background-color: var(--white-color);

    border: 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
            border-radius: 5px;
}
#calculate-button-tablet {
    display: none;
}
#calculate-button {
    width: 200px;
    height: 30px;
    background-color: var(--orange-color);
    color: var(--white-color);
    font-weight: 600;
    font-size: 20px;

    border: 0px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
            border-radius: 10px;

}
@media screen and (max-width: 768px) {
    #calculate-button-tablet {
        display: block;
        width: 100%;
        height: 30px;
        margin-top: 20px;
        background-color: var(--orange-color);
        color: var(--white-color);
        font-weight: 600;
        font-size: 20px;

        border: 0px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
                border-radius: 10px;
    }
    .input-hours-div {
        width: 30%;
    }
    .input-city-div {
        width: 60%;
    }

    #calculate-button {
        display: none;
    }
}

.footer-right-frame {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
    padding-top: 20px;
}

@media screen and (max-width: 1025px) {
    .footer-frame {
        flex-direction: column;
    }
    .footer-left-frame {
        width: 100%;
    }
    .footer-right-frame {
       justify-content: center;
       width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .input-hours-div {
        width: 30%
    }
    .input-city-div {
        width: 65%;
    }
}


#instagram-icon {
    background-image: url('images/icons/instagram.svg');
}
#facebook-icon {
    background-image: url("images/icons/facebook.svg");
}
#twitter-icon {
    background-image: url("images/icons/twitter.svg");
}
#linkedin-icon {
    background-image: url("images/icons/linkedin.svg");
}

#instagram-icon, #facebook-icon, #twitter-icon, #linkedin-icon {
    width: 25px;
    height: 25px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border-radius: 5px;
    margin-left: 30px;
}


/* Tablet */
@media screen and (max-width: 1025px) {
    header {
        width: 60%;
        margin: 0 auto;
    }
    main {
        width: 60%;
        margin: 0 auto;
    }
    .main-header h1 {
        font-size: 50px;
        margin-top: -40px;
        line-height: 60px;
    }
    .main-header p {
        font-size: 16px;
        margin-top: -20px;
    }
    .main-section {
        flex-direction: column;
        background-position-y: 25%;
        background-size: 300px 300px;
    }
    .apply-now-form {
        margin-top: 200px; 
        box-sizing: border-box;
        min-width: 100%;
        height: 440px;
    }
}

/* Mobile */
@media screen and (max-width: 768px) {
    header {
        width: 80%;
    }
    main {
        width: 80%;
    }
    .apply-now-form {
        margin-top: 200px; 
    }
    .apply-now-form {
        width: 80%;
    }
    .apply-now-form > h1 {
        margin-top: -10px;
        font-size: 26px;
    }
    .apply-now-form > form {
        font-size: 12px;
    }
    .apply-now-form > p {
        margin-top: -12px;
        font-size: 12px;
    }
}
